<div class="modal" *ngIf="display">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">Close</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        <span aria-hidden="true">Close</span>
      </button>
    </div>
  </div>
</div>
