.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  .modal-header,
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      color: white;
    }

    button {
      border: none;
      background: none;
      font-size: 1rem;
      padding: 1rem;
      color: white;
      background-color: rgb(249, 217, 73);
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        scale: 0.97;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.modal-dialog {
  background: white;
  height: 75%;
  width: 60%;
  padding: 2rem;
  overflow-y: auto;

  animation: fadeInFromBottom 0.5s ease-out forwards;
  opacity: 0;

  @keyframes fadeInFromBottom {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
