<div class="card" [id]="cardId">

  <section class="details">
    <h3>{{ content.title }}</h3>
    <p>{{ content.description }}</p>
  </section>

  <section class="end-section">
    <section class="tech-stack">
      <div *ngFor="let tech of content.techStack" class="tech-item">
        <img src="{{ tech.logoUrl }}" alt="Logo" class="tech-logo">
      </div>
    </section>

    <section class="external-links">
      <button><a href="{{ content.websiteUrl }}" target="_blank" rel="noopener">Website</a><i class="fa-solid fa-window-maximize"></i></button>
      <button><a href="{{ content.githubUrl }}" target="_blank" rel="noopener">GitHub</a><i class="fab fa-github"></i></button>
    </section>
  </section>
</div>
