@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header {
  display: flex;
  align-items: center;
  height: 20vh;
  padding: 2rem;
}

h1 {
  font-size: 5rem;
  margin: 0;

  opacity: 0;
  transform: translate(-30px);
  animation: fadeInFromTop 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromTop {
  from {
    transform: translateY(-75px); /* Adjust for desired starting position */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-container {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  flex-wrap: wrap;

  height: 70vh;
  margin-inline: 2rem;
  padding: 2rem;
}

.contact-header {
  display: flex;
  flex-direction: column;

  width: 100%;
  text-align: center;
  margin-block: 2rem;

  p {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.5rem;
  margin-block: 2rem;
  font-style: italic;
  font-weight: lighter;

  animation: fadeInDelay 1s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes fadeInDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 1rem);
  margin-block: 2rem;
  padding: 2rem;
  border: 0.5px solid gray;
  animation: fadeInFromBottom 1s ease-out forwards;
  text-align: center;
  transition: scale 0.3s;
  cursor: pointer;

  &:hover {
    scale: (0.97);
    transition: scale 0.3s;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .contact-link {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: blue;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  @keyframes fadeInFromBottom {
    from {
      transform: translateY(75px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
