<header>
  <h1>get in touch</h1>
</header>

<section class="contact-container">

  <!-- Left section for buttons/links -->
  <div class="contact-links">
    <div class="contact-buttons">
      <button onclick="window.open('https://www.linkedin.com/in/paul-greetham/', '_blank')">LinkedIn
        <i class="fab fa-linkedin"></i>
      </button>
      <button onclick="window.open('https://github.com/PaulGreetham', '_blank')">GitHub
        <i class="fab fa-github"></i>
      </button>
      <button onclick="window.open('https://gitlab.com/PaulGreetham', '_blank')">GitLab
        <i class="fab fa-gitlab"></i>
      </button>
      <button onclick="window.location.href='mailto:pgreetham@protonmail.com'">Email
        <i class="fas fa-envelope"></i>
      </button>
      <button onclick="window.location.href='tel:+31683674176'">Phone
        <i class="fas fa-phone"></i>
      </button>
    </div>
  </div>

  <!-- Right section for text -->
  <div class="contact-info">
    <h3>More Information</h3>
    <p class="paragraph1">
      Please click on the buttons to the left to either connect with me on LinkedIn, see my GitHub and GitLab profiles, or to contact me via email or phone.
    </p>
    <p class="paragraph2">
      If you feel you have an interesting opportunity or project that you think I would be interested in, please do not hesitate to reach out to me using any of the methods listed to the left.
    </p>
    <p class="paragraph3">
      I look forward to hearing from you.
    </p>
  </div>
</section>
