<header>
  <h1>get in touch</h1>
</header>

<section class="contact-container">
  <header class="contact-header">
    <h6>reach out to me using either of the contact methods below</h6>
  </header>

  <a href="mailto:pgreetham@protonmail.com" class="contact-card-link">
    <div class="contact-card" id="email-card">
      <h3>email me</h3>
      <p>drop me an email and I'll get back to you as soon as possible</p>
      <span class="contact-link">email link</span>
    </div>
  </a>

  <a href="tel:+31683674176" class="contact-card-link">
    <div class="contact-card" id="phone-card">
      <h3>call me</h3>
      <p>if you prefer to call, you can reach me at the number below:</p>
      <span class="contact-link">+31 6 83 674 176</span>
    </div>
  </a>
</section>
