@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(244, 80, 80);
  height: 24vh;
  padding: 3rem;
}

h1 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 6rem;
  font-weight: lighter;
  margin: 0;
  letter-spacing: 0.25rem;

  animation: fadeInFromTop 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromTop {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 100%;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  padding-right: 1rem;
  width: 100%;
  height: 100%;

  .contact-buttons {
    width: 60%;

    button {
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: $primary-font;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      padding: 1rem;
      width: 100%;
      background-color: rgb(60, 72, 107);
      border: none;
      transition: scale 0.3s ease-in-out;
      cursor: pointer;
      animation: fadeInFromLeft 0.5s ease-out forwards;
      opacity: 0; /* Ensure the button is initially invisible */
      // animation-delay: calc(1.75s + var(--index) * 0.25s);
      animation-delay: calc(2s + (4 - var(--index)) * 0.25s);

      @keyframes fadeInFromLeft {
        from {
          transform: translateX(-30px); /* Adjust the starting position */
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }

      i {
        display: flex;
        font-size: 1.75rem;
        padding-left: 0.5em;
      }

      span {
        display: flex;
        justify-content: flex-start;
        transition: scale 0.3s ease-in-out;
      }

      &:hover {
        scale: 0.98;
        transition: scale 0.3s ease-in-out;
      }
    }
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding-left: 1rem;
  width: 100%;
  height: 100%;

  p {
    width: 60%;
  }
}

.contact-links ul {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  list-style: none;
  padding: 0;
  width: 60%;
}

.contact-links li {
  margin-bottom: 10px;
}

.contact-links a {
  text-decoration: none;
  color: #0077cc;
}

.contact-links a:hover {
  text-decoration: underline;
}
