@import '../../Shared-Styles/_fonts';

.accordion-container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Adjust the width of the left column as needed */
  grid-column-gap: 40px; /* Adjust the gap between columns */
  align-items: start; /* Align items to the top of each cell */
  height: 100%;
}

/* Style for the accordion buttons container (left column) */
.accordion-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Add vertical spacing between buttons */
}

/* Style for the individual accordion buttons */
button {
  font-family: $primary-font;
  font-size: 24px;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  transition: scale 0.3s;
  animation: fadeInFromLeft 0.5s ease-out forwards;
  opacity: 0; /* Ensure the button is initially invisible */
  animation-delay: calc(0.75s + var(--index) * 0.25s);

  @keyframes fadeInFromLeft {
    from {
      transform: translateX(-30px); /* Adjust the starting position */
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  span {
    display: flex;
    justify-content: flex-start;
    transition: scale 0.3s;
    cursor: pointer;

    &:hover {
      scale: 0.98;
      transition: scale 0.3s;
    }
  }

  &:active,
  &:focus {
    background-color: rgba(240, 240, 240);
    outline: none;
    transition: 0.3s ease-in-out;
  }

  &.open {
    background-color: rgba(240, 240, 240);
    padding: 18px;
    scale: 1.1;
    transition: 0.3s ease-in-out;
  }

  &.closed {
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
}

/* Style for the accordion content container (right column) */
.accordion-content {
  grid-column: 2; /* Content container takes the second column */
  height: 100%;
}

/* Style for individual content sections */
.content {
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px; /* Add spacing between content sections */
  opacity: 0; /* Initially set opacity to 0 to hide content */
  animation: fadeIn 0.6s ease-in-out forwards; /* Apply fadeIn animation */

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.tools-section {
  margin-top: 20px;

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .tools-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    align-items: center;
    justify-content: center;

    .tool-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        max-width: 4rem; // Adjust size as needed
        height: auto;
        margin-bottom: 5px;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        color: inherit; // Adjust color as needed
        transition: 0.3s;

        &:hover {
          scale: 0.98;
          transition: 0.3s;
        }
      }
    }
  }
}
