<div class="accordion-container">
  <div class="accordion-buttons">
    <button
      *ngFor="let item of accordionItems; let i = index"
      (click)="toggleSection(item.title)"
      [class.open]="openSection === item.title"
      [class.closed]="openSection !== item.title"
      [style.--index]="i"
    >
      <span>{{ item.title }}</span>
    </button>
  </div>

  <div class="accordion-content">
    <div *ngFor="let item of accordionItems" [hidden]="openSection !== item.title" class="content">
      <div *ngIf="isStringContent(item.content)" [innerHTML]="item.content"></div>
      <div *ngIf="!isStringContent(item.content)" class="tools-section">
        <div class="tools-toggle-buttons">
          <button (click)="setActiveToolsSection('frequentlyUsed')">Frequently Used</button>
          <button (click)="setActiveToolsSection('infrequentlyUsed')">Infrequently Used</button>
        </div>

        <div *ngIf="activeToolsSection === 'frequentlyUsed'" class="tools-grid">
          <div class="tool-item" *ngFor="let tool of item.content.frequentlyUsed">
            <a href="{{ tool.url }}" target="_blank">
              <img [src]="tool.logo" alt="{{tool.name}}">
              <span>{{ tool.name }}</span>
            </a>
          </div>
        </div>

        <div *ngIf="activeToolsSection === 'infrequentlyUsed'" class="tools-grid">
          <div class="tool-item" *ngFor="let tool of item.content.infrequentlyUsed">
            <a href="{{ tool.url }}" target="_blank">
              <img [src]="tool.logo" alt="{{tool.name}}">
              <span>{{ tool.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
