@import '../../Shared-Styles/_fonts';

.accordion-container {
  display: grid;
  grid-template-columns: 24rem 1fr;
  grid-column-gap: 2rem;
  align-items: start;
  height: 100%;
}

.accordion-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  transition: 0.3s ease-in-out;

  button:first-child {
    position: relative;

    &::after {
      color: white;
      content: '<';
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3rem;
      opacity: 0;
      animation: blink-animation 1s infinite;
      animation-delay: 3s;
    }

    &.hide-chevron::after {
      display: none; // Hide the chevron
    }
  }
}

@keyframes blink-animation {
  0%, 100%   { opacity: 0; }
  50%  { opacity: 1; }
}

/* Style for the individual accordion buttons */
button {
  color: white;
  font-family: $primary-font;
  font-size: 24px;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border: none;
  transition: scale 0.3s ease-in-out;
  cursor: pointer;
  animation: fadeInFromLeft 0.5s ease-out forwards;
  opacity: 0; /* Ensure the button is initially invisible */
  animation-delay: calc(0.75s + var(--index) * 0.25s);

  @keyframes fadeInFromLeft {
    from {
      transform: translateX(-30px); /* Adjust the starting position */
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  span {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    transition: scale 0.3s ease-in-out;
  }

  &:hover {
    scale: 0.98;
    transition: scale 0.3s ease-in-out;
  }

  &:active,
  &:focus {
    background-color: rgb(60, 72, 107);
    height: 100%;
    outline: none;
    transition: 0.3s ease-in-out;
  }

  &.open {
    background-color: rgb(249, 217, 73);
    height: 100%;
    transition: 0.3s ease-in-out;
  }

  &.closed {
    background-color: rgb(60, 72, 107);
    height: 100%;
    transition: 0.3s ease-in-out;
  }
}

/* Style for the accordion content container (right column) */
.accordion-content {
  grid-column: 2; /* Content container takes the second column */
  height: 100%;
}

/* Style for individual content sections */
.content {
  height: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 10px; /* Add spacing between content sections */
  opacity: 0; /* Initially set opacity to 0 to hide content */
  animation: fadeIn 0.6s ease-in-out forwards; /* Apply fadeIn animation */

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
