<div class="tools-section">
  <div class="tools-grid-column">
    <h3>Tech Stack</h3>
    <div class="tools-grid">
      <div class="tool-item" *ngFor="let tool of frequentlyUsed">
        <a href="{{ tool.url }}" target="_blank">
          <img [src]="tool.logo" alt="{{ tool.name }}">
          <span>{{ tool.name }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="tools-grid-column">
    <h3>Tool Stack</h3>
    <div class="tools-grid">
      <div class="tool-item" *ngFor="let tool of infrequentlyUsed">
        <a href="{{ tool.url }}" target="_blank">
          <img [src]="tool.logo" alt="{{ tool.name }}">
          <span>{{ tool.name }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
