.tools-section {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 4rem;

  .tools-grid-column {
    min-width: 45%;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;

      color: white;
      background-color: rgb(255, 208, 12);
      font-size: 1.5rem;
      font-weight: lighter;

      margin: 0;
      margin-bottom: 2rem;
      padding: 1rem;
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px); // Adjust for desired effect
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .tools-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
      gap: 1.5rem;
      align-items: stretch;
      justify-content: center;

      .tool-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        animation: fadeInUp 0.5s ease-out forwards;

        @for $i from 1 through 20 { // Adjust 20 to the number of logos you have
          &:nth-child(#{$i}) {
            animation-delay: 0.15s * $i; // Each logo is delayed slightly more
          }
        }

        img {
          max-width: 2.5rem; // Adjust size as needed
          height: auto;
          margin-bottom: 1rem;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          height: 100%;

          text-decoration: none;
          color: inherit; // Adjust color as needed
          transition: 0.3s;

          &:hover {
            scale: 0.98;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.tools-toggle-buttons {
  display: flex;

  justify-content: center;
  height: 5rem;
  width: 100%;
  margin-bottom: 3rem;

  &.active {
    border: 2px solid blue;
  }

  button {
    font-family: monospace;
    font-size: 1.25rem;
    margin-right: 10px;
    width: 50%;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, color 0.3s, scale 0.3s;

    &:hover {
      scale: 0.98;
      transition: scale 0.3s;
      background-color: #e0e0e0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active-button {
      border: 2px dotted black;
      background-color: #e0e0e0;
    }
  }
}
