@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header {
  color: white;
  background-color: rgb(244, 80, 80);
  display: flex;
  align-items: center;
  height: 24vh;
  padding: 2rem;
}

h1 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 6rem;
  font-weight: lighter;
  margin: 0;
  letter-spacing: 0.25rem;

  opacity: 0;
  transform: translateX(-30px);
  animation: fadeInFromLeft 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-25px); /* Adjust for desired starting position */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.tech-container {
  height: 66vh;
  padding: 2rem;
}
