<header>
  <h1>about me...</h1>
</header>

<section class="about-me-container">
  <div class="text-column">
    <div class="text-navbar">
      <a [routerLink]="[]" fragment="intro">Intro</a>
      <a [routerLink]="[]" fragment="background">Background</a>
      <a [routerLink]="[]" fragment="tech">Tech</a>
      <a [routerLink]="[]" fragment="non-tech">Non-Tech</a>
      <a [routerLink]="[]" fragment="interests">Interests</a>
    </div>
    <div class="all-section-content">
      <div id="intro" class="section-content">
        <h4>Intro</h4>
        <p>Hi, I'm Paul Greetham, a passionate and driven Full-Stack Software Developer based in Hilversum, North Holland, Netherlands. My specialization lies in Angular and TypeScript, and I take great pride in my role at RiskChallenger, a dynamic SaaS scale-up that focuses on innovative risk management software. With over 15 years of diverse experience across various business roles and ventures, I bring a unique blend of technical and non-technical skills to the table. I am particularly enthusiastic about creating readable, responsive, and maintainable code within a modular architecture, ensuring that the solutions I develop are both robust and user-friendly.</p>

        <p>My professional journey is characterized by a commitment to excellence and continuous learning. I thrive in agile and scrum environments, where collaboration and adaptability are key. Whether working in a mob programming setting or leading a team, I am dedicated to fostering a culture of innovation and efficiency. My technical expertise, combined with my business acumen, enables me to deliver high-quality software solutions that meet the evolving needs of the industry. I am excited about the opportunities ahead and look forward to contributing to groundbreaking projects that make a significant impact.</p>
      </div>
      <div id="background" class="section-content">
        <h4>Background</h4>
        <p>My professional background is as varied as it is enriching. I began my career at Global Trade Review (GTR) in London, where I spent six years producing over 50 trade, export, and commodity finance conferences across the globe. This role honed my skills in project management, speaker acquisition, and sponsorship relationship management. Following this, I founded Beatnikz Republic Brewing Co. in Manchester, where I successfully created a brand new brewery from scratch. Over seven years, I raised over £550k in capital investment, expanded production to 800,000 pints annually, and built a team of over 20 staff members. Our products were distributed UK-wide and exported to nine countries, achieving a remarkable 100%+ annual growth rate for four consecutive years.</p>

        <p>In 2022, I decided to pivot towards software development, a field that had always intrigued me. I undertook a career transition, completing several certified courses through Codecademy and attending intensive bootcamps like Le Wagon Amsterdam and the School of Applied Technology &lt;/SALT&gt;. These experiences equipped me with the skills needed to excel in full-stack development, and I now apply these skills at RiskChallenger. Here, I contribute to developing cutting-edge risk management software that enhances team engagement and productivity through innovative features such as QR code participation and interactive risk sessions.</p>
      </div>
      <div id="tech" class="section-content">
        <h4>Tech</h4>
        <p>My technical expertise is broad and deep, encompassing a wide array of tools, technologies, and methodologies. At the core of my skill set are TypeScript and Angular, where I excel in building scalable, maintainable, and efficient applications. I have extensive experience working with monorepos, a crucial aspect of managing large-scale SaaS applications. My current tech stack includes TypeScript, Angular, Node.js, RxJs, SQL, SCSS, Jest, and Cypress. These tools enable me to create robust and high-performing software solutions that meet the complex needs of modern businesses.</p>

        <p>In addition to my development skills, I am proficient in using various development tools such as Git, GitHub, and GitLab, which are essential for version control and collaboration in a team setting. My background in UI/UX design using Figma ensures that the applications I develop are not only functional but also user-friendly and aesthetically pleasing. I have designed both web and mobile applications, with a strong emphasis on responsive and mobile-first design principles. This ensures that the applications provide a seamless user experience across different devices and screen sizes.</p>

        <p>My commitment to best practices in software development is evident in my approach to coding. I embrace test-driven development (TDD) and continuous integration/continuous deployment (CI/CD) to ensure that my code is reliable and maintainable. My experience with asynchronous programming and RESTful APIs allows me to build efficient and scalable backend systems. Overall, my technical skills and experience enable me to deliver high-quality software solutions that drive business success.</p>
      </div>
      <div id="non-tech" class="section-content">
        <h4>Non-Tech</h4>
        <p>Beyond my technical experience, I have a rich background in non-technical areas that complement my role as a software developer. My entrepreneurial spirit led me to found Beatnikz Republic Brewing Co., where I demonstrated my ability to generate revenue, manage budgets, and lead a team. Over seven years, I raised over £550k in capital investment, managed budgets exceeding £2m, and generated annual revenue of £1.3m. These achievements reflect my strong business acumen and ability to drive financial success.</p>

        <p>In addition to my business skills, I have a talent for art direction and brand identity. At Beatnikz Republic, I designed and directed all brand elements and products, building a strong and recognizable brand that resonated with customers. My experience in social media management further enhanced the brand's presence, growing our following to over 14k. This combination of creative and strategic skills allowed me to effectively market our products and expand our reach.</p>

        <p>My leadership skills are another key aspect of my non-technical expertise. I have hired and managed teams of over 20 staff members, fostering a collaborative and productive work environment. My ability to lead by example and motivate my team has been instrumental in achieving our business goals. Additionally, my experience in project management from my time at Global Trade Review (GTR) has equipped me with the skills to manage complex projects and deliver results on time and within budget. These non-technical skills complement my technical abilities, making me a well-rounded professional capable of driving success in various contexts.</p>
      </div>
      <div id="interests" class="section-content">
        <h4>Interests</h4>
        <p>Outside of my professional life, I am deeply passionate about continuous learning and personal development. My journey into software development began with a keen interest in the field, which led me to complete numerous certified courses through Codecademy. I also participated in intensive bootcamps like Le Wagon Amsterdam and the School of Applied Technology &lt;/SALT&gt;, where I gained hands-on experience in full-stack development. These learning experiences have been instrumental in shaping my career and equipping me with the skills needed to excel in the tech industry.</p>

       <p>I have a strong interest in exploring new technologies and staying updated with the latest trends in software development. This curiosity drives me to continuously expand my knowledge and improve my skills. In addition to my technical interests, I enjoy leveraging social media and art direction to build a strong online presence. Managing social media channels and creating engaging content has allowed me to connect with a wider audience and share my passion for technology and innovation.</p>

        <p>Learning Dutch is another interest of mine, reflecting my commitment to personal growth and integration into the local community. This language-learning journey not only enhances my communication skills but also deepens my understanding of the culture and people in the Netherlands. Overall, my interests are diverse and align with my professional goals, making me a well-rounded individual dedicated to both career and personal growth.</p>
      </div>
      <div class="fade-effect-overlay"></div>
    </div>
  </div>
  <div class="photo-column">
    <img src="/assets/profile.jpg" alt="Profile Photo">
  </div>
</section>
