@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(244, 80, 80);;
  height: 24vh;
  padding: 2rem;
}

h1 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 6rem;
  font-weight: lighter;
  margin: 0;

  opacity: 0;
  transform: translateX(-30px);
  animation: fadeInFromLeft 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-25px); /* Adjust for desired starting position */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-me-container {
  display: flex;
  align-items: flex-start;
  height: 66vh;
  padding: 2rem;

  .text-column {
    width: 70%;
    padding-inline: 1rem;
    overflow-y: auto;
    max-height: 400px; // Adjust as needed
    position: relative;

    .text-navbar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: sticky;
      height: 3rem;
      top: 0;
      background: white;
      z-index: 10;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        margin-right: 1rem;
        text-decoration: none;
        color: white;
        background-color: rgb(60, 72, 107);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    h4 {
      margin: 0;
      padding-top: 4rem;
    }

    // Style for each section
    div[id] {
      margin-bottom: 2rem;
    }

    // Additional styles...
  }

  .photo-column {
    height: 100%;
    width: 30%;
    padding: 1rem; // Consistent padding with the text column
    display: flex;
    justify-content: center; // Center the image in the column
    align-items: center;

    img {
      width: 100%; // Fill the width of the column
      height: 100%; // Fill the height of the column
      object-fit: cover; // Cover the area, maintaining aspect ratio
      object-position: center; // Center the image within the frame
    }
  }
}
