<div class="professional-section">

  <div class="header">
    <div class="logo-column">
      <a [href]="jobReference.companyWebsite" target="_blank" rel="noopener noreferrer">
        <img [src]="jobReference.logoUrl" alt="{{ jobReference.companyName }}" class="company-logo">
      </a>
    </div>

    <div class="details-column">
      <p><strong>Company:</strong> {{ jobReference.companyName }}</p>
      <p><strong>Position:</strong> {{ jobReference.jobTitle }}</p>
      <p><strong>Dates:</strong> {{ jobReference.startDate }} - {{ jobReference.endDate }} </p>
      <p><strong>Location:</strong> {{ jobReference.location }}</p>
    </div>
  </div>

  <div class="info-section">
    <p>{{ jobReference.info }}</p>
    <ul>
      <li *ngFor="let item of jobReference.dutiesAndTools">{{ item }}</li>
    </ul>
  </div>

  <div *ngIf="item.title === 'Professional'" class="content">
    <button (click)="toggleModal()">See Commit History</button>
    <app-modal [display]="showModal" (closeEvent)="toggleModal()">
      <h1>GitLab Commit History</h1>
      <p>The following GitLab commit history has been amended so as not to include any commercially sensitive information. The purpose of this list is to see the types of issues/tickets I have expereicne with. Scroll down to see the full list:</p>

      <div class="commit-list">
        <ul>
          <li *ngFor="let commit of gitCommits">
            <h4><strong>Title:</strong> {{ commit.title }}</h4>
            <p><strong>Type:</strong> {{ commit.type }}</p>
            <p><strong>Description:</strong> {{ commit.description }}</p>
          </li>
        </ul>
      </div>
    </app-modal>
  </div>

</div>
