@import '../../../Shared-Styles/_fonts';

.professional-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35%;
    width: 100%;

    .logo-column {
      display: flex;
      justify-content: center;

      height: 100%;
      width: 20%;

      .company-logo {
        height: 100%;
        transition: transform 0.3s;

        &:hover {
          transform: scale(0.95);
          transition: transform 0.3s;
        }
      }
    }

    .details-column {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      height: 100%;
      width: 100%;

      padding-left: 2rem;

      p {
        margin: 0;
      };
    }
  }
}

.info-section {
  column-count: 2;
}

.commit-list {
  margin-top: 2rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 2rem;

      &:nth-child(odd) {  // Styles for odd-numbered items
        color: white;
        background-color: rgb(60, 72, 107); // White background
      }

      &:nth-child(even) { // Styles for even-numbered items
        background-color: white; // Light blue background
      }

      h4 {
        margin: 0;
      }

      p {
        margin: 0;
        font-weight: lighter;
      }
    }
  }
}

.modal-open-button {
  font-family: $primary-font;
  border: none;
  background: none;
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: rgb(60, 72, 107);
  width: max-content;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    scale: 0.97;
    transition: 0.3s ease-in-out;
  }
}
