@import '../../../Shared-Styles/_fonts';

.professional-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;

    .logo-column {
      height: 100%;

      .company-logo {
        width: 8rem;
        transition: transform 0.3s;

        &:hover {
          transform: scale(0.98);
          transition: transform 0.3s;
        }
      }
    }

    .details-column {
      display: flex;
      flex-direction: column;

      height: 100%;
      width: 100%;

      padding-left: 2rem;

      p {
        margin: 0.0.5rem;
      };
    }
  }

  .button-section {
    display: flex;
    gap: 1rem;

    button {
      font-family: $primary-font;
      border: none;
      background: none;
      font-size: 1rem;
      padding: 1rem;
      width: 100%;
      color: white;
      background-color: rgb(60, 72, 107);
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        scale: 0.97;
        transition: 0.3s ease-in-out;
      }

      i {
        font-size: 1.25rem;
        margin-left: 0.5em;
      }
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    height: 60%;

    p {
      font-size: 0.9rem;
      font-weight: lighter;
    }
  }

  .tech-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block: 1rem;

    .tech-logo {
      height: 2.5rem;
      transition: transform 0.3s;

      &:hover {
        transform: scale(0.97);
        transition: transform 0.3s;
      }
    }
  }

  .commit-list {
    margin-top: 2rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 2rem;

        &:nth-child(odd) {  // Styles for odd-numbered items
          color: white;
          background-color: rgb(60, 72, 107); // White background
        }

        &:nth-child(even) { // Styles for even-numbered items
          background-color: white; // Light blue background
        }

        h4 {
          margin: 0;
        }

        p {
          font-size: 0.9rem;
          margin: 0;
          font-weight: lighter;
        }
      }
    }
  }
}
