@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(244, 80, 80);;
  height: 24vh;
  padding: 3rem;
}

h1 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 6rem;
  font-weight: lighter;
  margin: 0;
  letter-spacing: 0.25rem;

  animation: fadeInFromTop 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromTop {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-container {
  display: flex;
  height: 66vh;

  .left-column {
    width: 25%;
    background-color: white;
  }

  .right-column {
    width: 75%;
    padding-right: 0;

    h2 {
      position: relative;
      font-size: 7rem;
      margin-block: 1.5rem;
      padding: 2.5rem;
      line-height: 0.95;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(to right, white, white 50%, rgb(60, 72, 107) 50%, rgb(60, 72, 107));
        background-size: 200% 200%;
        animation: slideBG 1s linear forwards;
      }
    }

    .letter {
      color: white;
      display: inline-block;
      transform: translateY(20px);
      opacity: 0;
      animation: slideIn 0.25s ease forwards;
    }

    h3 {
      font-family: 'Waiting for the Sunrise', cursive;
      font-size: 3rem;
      margin: 0;
      padding: 1rem;
      padding-left: 2rem;
      position: relative;
      letter-spacing: 0.25rem;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(to right, white, white 50%, rgb(249, 217, 73) 50%, rgb(249, 217, 73));
        background-size: 200% 200%;
        animation: slideRightBG 1s linear forwards;
        animation-delay: 3s;
      }

      .subtitle-letter {
        color: white;
        display: inline-block;
        transform: translateX(25px);
        opacity: 0;
        animation: slideIn 0.15s ease forwards;
      }
    }
  }

  .small-text {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}


@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBG {
  to {
    background-position: 100% bottom;
  }
}

@keyframes slideRightBG {
  to {
    background-position: 100% bottom;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
