@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.home-container {
  display: flex;
  height: 100%;

  .left-column {
    width: 20%;
    background-color: white;
  }

  .right-column {
    width: 80%;
    padding: 2rem;
    padding-right: 0;

    h1 {
      position: relative;
      font-size: 8rem;
      margin-bottom: 1rem;
      padding: 2rem;
      line-height: 0.95;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(to right, white, white 50%, rgb(60, 72, 107) 50%, rgb(60, 72, 107));
        background-size: 200% 200%;
        animation: slideBG 2s linear forwards;
      }
    }

    .letter {
      color: white;
      display: inline-block;
      transform: translateY(20px);
      opacity: 0;
      animation: slideIn 0.5s ease forwards;
    }

    .subtitle {
      font-family: 'Waiting for the Sunrise', cursive;
      font-size: 4rem;
      font-weight: lighter;
      margin: 0;
      opacity: 0;
      animation: fadeIn 1s ease forwards;
      animation-delay: 5s;
    }

    p {
      margin-bottom: 0.5rem;
    }

    .small-text {
      font-size: 0.8rem;
    }
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBG {
  to {
    background-position: 100% bottom;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
