app-bootcamps {
  display: flex;
  height: 100%;
}

.bootcamps-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .bootcamp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    height: 100%;
    width: 45%;

    .row-header {
      display: flex;
      justify-content: flex-start;

      .logo-column {
        display: flex;
        justify-content: center;
        align-items: baseline;

        .bootcamp-logo {
          max-width: 7rem;
          height: auto;
          display: block;
          margin: 0 auto 10px; // Center logo with margin at the bottom
          transition: transform 0.3s;

          &:hover {
            transform: scale(0.95);
            transition: transform 0.3s;
          }
        }
      }

      .info-column {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding-left: 1rem;
        width: 100%;

        h3 {
          font-size: 1.2rem;
          margin: 0;
          margin-bottom: 0.5em;
          color: #333; // Example color, adjust as needed

          a {
            text-decoration: none;
            color: inherit; // Ensures link color matches the heading

            &:hover {
              text-decoration: underline;
            }
          }
        }

        p {
          margin: 0;
          margin-bottom: 0.5em;
          font-size: 0.8em;
          color: #666; // Example color, adjust as needed
        }
      }
    }

    // Row 2: Content List
    .content-row {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      font-size: 0.8rem;

      ul {
        column-count: 3; // Creates a two-column layout for the list
        column-gap: 20px; // Adjust the gap between columns as needed
        padding-left: 2rem;

        li {
          break-inside: avoid; // Prevents list items from being split between columns
          -webkit-column-break-inside: avoid; // For WebKit browsers
          page-break-inside: avoid; // For printing
        }
      }
    }
  }
}
