.bootcamps-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 100%;
  width: 100%;
  gap: 4rem;

  .bootcamp {
    padding-inline: 1rem;

    .row-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 35%;

      .logo-column {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 40%;

        .bootcamp-logo {
          max-width: 7rem;
          height: auto;
          display: block;
          margin: 0 auto 10px; // Center logo with margin at the bottom
          transition: transform 0.3s;

          &:hover {
            transform: scale(0.95);
            transition: transform 0.3s;
          }
        }
      }

      .info-column {
        padding-left: 1rem; // Space between logo and info

        h3 {
          font-size: 1.2rem;
          margin: 0;
          margin-bottom: 0.5em;
          color: #333; // Example color, adjust as needed

          a {
            text-decoration: none;
            color: inherit; // Ensures link color matches the heading

            &:hover {
              text-decoration: underline;
            }
          }
        }

        p {
          margin: 0;
          margin-bottom: 0.5em;
          font-size: 0.8em;
          color: #666; // Example color, adjust as needed
        }
      }
    }

    // Row 2: Content List
    .content-row {
      height: 65%;
      font-size: 0.8rem;

      ul {
        column-count: 3; // Creates a two-column layout for the list
        column-gap: 20px; // Adjust the gap between columns as needed
        padding-left: 2rem;

        li {
          break-inside: avoid; // Prevents list items from being split between columns
          -webkit-column-break-inside: avoid; // For WebKit browsers
          page-break-inside: avoid; // For printing
        }
      }
    }
  }
}
