<div class="bootcamps-section">
  <div *ngFor="let bootcamp of bootcamps" class="bootcamp">
    <!-- Row 1: Logo and Info -->
    <div class="row-header">
      <div class="logo-column">
        <a [href]="bootcamp.url" target="_blank">
          <img [src]="bootcamp.logo" alt="{{ bootcamp.name }} Logo" class="bootcamp-logo">
        </a>
      </div>
      <div class="info-column">
        <h3>{{ bootcamp.name }}</h3>
        <p>Date: {{ bootcamp.startDate }} - {{ bootcamp.endDate }}</p>
        <p>Location: {{ bootcamp.location }}</p>
      </div>
    </div>

    <!-- Row 2: Content List -->
    <div class="content-row">
      <ul>
        <li *ngFor="let item of bootcamp.contentList">{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
