.bootcamps-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  .bootcamp {
    border: 1px solid #ddd; // Example border, adjust as needed
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9; // Example background, adjust as needed

    .bootcamp-logo {
      max-width: 100px; // Adjust as needed
      height: auto;
      display: block;
      margin: 0 auto 10px; // Center logo with margin at the bottom
      transition: scale 0.3s;

      &:hover {
        scale: 0.95;
        transition: scale 0.3s;
      }
  }

    h3 {
      font-size: 1.2em;
      margin-bottom: 0.5em;
      color: #333; // Example color, adjust as needed

      a {
        text-decoration: none;
        color: inherit; // Ensures link color matches the heading

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin-bottom: 0.5em;
      font-size: 0.9em;
      color: #666; // Example color, adjust as needed
    }

    ul {
      column-count: 2; // Creates a two-column layout for the list
      column-gap: 20px; // Adjust the gap between columns as needed

      li {
        break-inside: avoid; // Prevents list items from being split between columns
        -webkit-column-break-inside: avoid; // For WebKit browsers
        page-break-inside: avoid; // For printing
        margin-bottom: 10px; // Space between list items
      }
    }
  }
}
