@import '../../Shared-Styles/_fonts';

.projects-page {
  width: 100%;
  height: 80%;
}

header {
  display: flex;
  align-items: center;
  height: 200px;
  margin: 30px;
}

h1 {
  font-size: 60px;
  opacity: 0; /* Ensure the element is initially invisible */
  transform: translateX(-30px); /* Initial horizontal position */
  animation: fadeInFromLeft 0.25s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-25px); /* Adjust for desired starting position */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cards-container {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  flex-wrap: wrap;

  margin: 2rem;
}
