@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(244, 80, 80);
  height: 22vh;
  padding: 3rem;
}

h1 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 5rem;
  font-weight: lighter;
  margin: 0;
  letter-spacing: 0.25rem;
  animation: fadeInFromTop 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromTop {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 68vh;
  padding: 2rem 3rem 2rem 3rem;
  gap: 2rem;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  opacity: 0;
  animation: fadeInFromBottom 0.5s ease-out forwards;
  transition: 0.3s ease;

  &:nth-of-type(1):hover {
    box-shadow: 8px 8px rgb(249, 217, 73);
    transition: 0.3s ease-in-out;
  }

  &:nth-of-type(2):hover {
    box-shadow: -8px 8px rgb(249, 217, 73);
    transition: 0.3s ease-in-out;
  }

  &:nth-of-type(3):hover {
    box-shadow: 8px -8px rgb(249, 217, 73);
    transition: 0.3s ease-in-out;
  }

  &:nth-of-type(4):hover {
    box-shadow: -8px -8px rgb(249, 217, 73);
    transition: 0.3s ease-in-out;
  }

  &:nth-of-type(5):hover {
    box-shadow: 8px 0px rgb(249, 217, 73), -8px 0px rgb(249, 217, 73);
    transition: 0.3s ease-in-out;
  }

  &:nth-of-type(6) {
    &:hover {
      background-color: rgba(75, 75, 75);
      border: 1px solid rgba(75, 75, 75);
      transition: 0.3s ease-in-out;

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "In Production";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(75, 75, 75);
      border: none;
      color: white;
      font-size: 1.5rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      pointer-events: none;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 50%;

    h3 {
      font-size: 1rem;
      color: white;
      background-color: rgb(249, 217, 73);
      margin: 0;
      padding: 0.5rem;
    }

    p {
      font-size: 0.7rem;
    }
  }

  .end-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    gap: 0.5rem;

    .tech-stack {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .tech-item {
        display: flex;
        align-items: center;
        padding: 0.25rem;

        .tech-logo {
          width: 2rem;
          transition: 0.3s ease-in-out;

          &:hover {
            scale: 0.97;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }

    .external-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgb(60, 72, 107);
        font-family: $primary-font;
        font-size: 0.7rem;
        width: 100%;
        padding: 0.35rem;
        border: none;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        animation: fadeInFromLeft 0.5s ease-out forwards;

        &:hover {
          transform: scale(0.98);
          transition: transform 0.3s ease-in-out;
        }

        a {
          color: white;
          text-decoration: none;
        }

        i {
          font-size: 1rem;
        }
      }
    }
  }

  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      animation-delay: #{0.25s + ($i - 1) * 0.25s};
    }
  }
}

@keyframes fadeInFromBottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
