@import 'app/Shared-Styles/_fonts.scss';
@import 'app/Shared-Styles/_sizes';

body {
  font-family: $primary-font;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 30px;
}
