<section class="education-section">
  <div class="column">
    <h3>Formal Education</h3>
    <div class="education-container">
      <div *ngFor="let education of formalEducations" class="education">
        <div class="row-header">
          <div class="logo-column">
            <a [href]="education.url" target="_blank">
              <img [src]="education.logo" alt="{{ education.name }} Logo" class="education-logo">
            </a>
          </div>
          <div class="info-column">
            <h4>{{ education.name }}</h4>
            <p>{{ education.qualification.degree }}</p>
            <p>Grade: {{ education.qualification.grade }}</p>
            <p>{{ education.startDate }} - {{ education.endDate }}</p>
            <p>Location: {{ education.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h3>Online Courses</h3>
    <div class="online-container">
      <div *ngFor="let education of onlineCourses" class="online">
        <div class="row-header">
          <div class="logo-column">
            <a [href]="education.url" target="_blank">
              <img [src]="education.logo" alt="{{ education.name }} Logo" class="online-logo">
            </a>
          </div>
          <div class="info-column">
            <h4>{{ education.name }}</h4>
            <p>{{ education.date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
