@import '../../Shared-Styles/_fonts';

:host {
  display: flex;
  width: 100%;
  height: 10%;
}

nav {
  background-color: rgb(244, 80, 80);
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

button {
  color: white;
  font-family: $primary-font;
  font-size: 1.5rem;
  background-color: transparent;
  margin-inline: 1rem;
  border: 0;
  transition: scale 0.3s;

  &:hover {
    cursor: pointer;
    scale: 0.95;
    transition: scale 0.3s;
  }
}
