@import '../../Shared-Styles/_fonts';

nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

button {
  font-family: $primary-font;
  font-size: 24px;
  height: 40px;
  background-color: transparent;
  padding-left: 24px;
  margin: 12px;
  border: 0;

  &:hover {
    cursor: pointer;
    scale: 0.95;
  }
}
